In [3]:
import pandas as pd
import json
import os

In [18]:
def load_data(file_path, encoding='utf-8'):
    """
    Load data from a specified file path. Supports CSV, Excel, JSON, and Parquet files.
    
    Parameters:
    - file_path (str): Path to the file to be loaded.
    - encoding (str): Encoding to be used for reading the file. Default is 'utf-8'.
    
    Returns:
    - DataFrame: Loaded data as a pandas DataFrame.
    """
    if not os.path.exists(file_path):
        raise FileNotFoundError(f"The file at {file_path} does not exist.")
    
    file_extension = os.path.splitext(file_path)[1].lower()
    
    try:
        if file_extension == '.csv':
            data = pd.read_csv(file_path, encoding=encoding)
        elif file_extension in ['.xls', '.xlsx']:
            data = pd.read_excel(file_path)
        elif file_extension == '.json':
            with open(file_path, 'r', encoding=encoding) as f:
                json_data = json.load(f)
            data = pd.json_normalize(json_data)
        elif file_extension == '.parquet':
            data = pd.read_parquet(file_path)
        else:
            raise ValueError(f"Unsupported file extension: {file_extension}")
    except UnicodeDecodeError as e:
        raise ValueError(f"Error loading the file due to encoding issues: {e}")
    except Exception as e:
        raise ValueError(f"Error loading the file: {e}")
    
    return data

In [25]:
# path = r"D:\College\Academics\Extra\Datasets\daily-total-female-births.csv"
# path = r"D:\College\Academics\Extra\Datasets\3 - Beverage Sales Dataset.xlsx"
# path = r"D:\College\Academics\SEM 4\New Generation Database\Datasets\playstore.json"

In [24]:
load_data(path)

    Unnamed: 0  Unnamed: 1                                         Unnamed: 2
0          NaN         NaN                                                NaN
1          NaN         NaN                                   Power BI Dataset
2          NaN         NaN                                                NaN
3          NaN         NaN                                                NaN
4          NaN         NaN                                                NaN
5          NaN         NaN   Get 10% OFF our course using coupon code EMAIL10
6          NaN         NaN                                                NaN
7          NaN         NaN                            Get Our Power BI Course
8          NaN         NaN                                                NaN
9          NaN         NaN                     Made by Career Principles Ltd.
10         NaN         NaN                                                NaN
11         NaN         NaN                                               Note
12         NaN         NaN  All content is copyright material of Career Pr...
13         NaN         NaN  This Excel model may not be reproduced or dist...